<button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-sm" (click)="onSelectRecentlySubtitle()">Recent</button>
<button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-sm" [routerLink]="['/subtitle-view/blank']">View</button>
<button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-sm" [routerLink]="['/subtitle-list']">List</button>

<ul class="list-group">
  <li class="list-group-item list-group-item-action " *ngFor="let subtitle of subtitleListVo;"
    [class.selected]="subtitle === selectedSubtitle"
    (click)="onClick(subtitle)">
    [{{subtitle.sttlNum}}] {{subtitle.sttlDesc}}
  </li>
</ul>
