<div class="container-fluid">
  <div class="row" >
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="clearfix">
            <div class="float-left">Subtitle Views btitles</div>
            <div class="float-right">
              <!-- <select (change)="onChange($event.target.value)" class="btn btn-outline-primary btn-sm mr-2"> 
                  <option *ngFor="let sttlNum of sel_sttlNum" [value]="sttlNum.id" >{{sttlNum.name}}</option>
              </select> -->
              <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectUsrSttlAll()">All</button>
              <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectUsrSttlBookmark()">Mark</button>
              <!-- <button type="button" class="btn btn-outline-primary mr-2 btn-sm" [routerLink]="['/subtitle-view-mother/:blank']">v2</button>
               -->
              <button type="button" class="btn btn-outline-primary mr-2 btn-sm" [routerLink]="['/subtitle-list']">
                <i class="fa fa-tasks fa-fw"></i> List
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row  row-first">
    <div class="col-xl-6 col-lg-12">
      <div class="chat-panel card">
        <div class="">
          <ul class="chat">
            <li class="list-group-item list-group-item-action" 
                *ngFor="let subtitle of foreignSubtitle"
                [class.selected]="subtitle === selectedSubtitle"
                (dblclick)="onSaveSttlNum(subtitle)">
                [{{subtitle.sttlNum}}] {{subtitle.sttlDesc}}
                <div class="text-center" *ngIf="subtitle.sttlNum == subtitle.foreignQryNum">
                  <div class="mb-3"></div>
                  <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectUsrSttlBookmarkNext()">Bookmark-Next</button>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>  
 
    <div class="col-xl-6 col-lg-12">
      <div class="chat-panel card">
          <div class="">
              <ul class="chat">
                <li class="list-group-item list-group-item-action" *ngFor="let subtitle of motherSubtitle;"
                    [class.selected]="subtitle === selectedSubtitle"
                    (dblclick)="onSaveSttlNum(subtitle)">
                    [{{subtitle.sttlNum}}] {{subtitle.sttlDesc}}
                    <div class="text-center" *ngIf="subtitle.sttlNum == subtitle.motherQryNum">
                      <div class="mb-3"></div>
                      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectUsrSttlBookmarkNext()">Bookmark-Next</button>
                    </div>
                </li>
              </ul>
            </div>
      </div>
    </div>
  </div>

    <!-- <div class="mb-2"></div> -->


</div>
