<button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-sm" (click)="onSelectRecentlySubtitle()">Recent</button>
<button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-sm" [routerLink]="['/subtitle-view-mother']">Mother View</button>
<button type="button" class="btn btn-outline-primary mb-3 mr-2 btn-sm" [routerLink]="['/subtitle-list']">List</button>

<div class="card">
    <label>Foreign subtitle</label>
    <li class="list-group-item list-group-item-action " *ngFor="let subtitle of foreignSubtitle;"
      [class.selected]="subtitle === selectedSubtitle"
      (click)="onClick(subtitle)">
      [{{subtitle.sttlNum}}] {{subtitle.sttlDesc}}
    </li>
</div> 
    
<div class="card">
  <label>Mother subtitle</label>
  <li class="list-group-item list-group-item-action " *ngFor="let subtitle of motherSubtitle;"
    [class.selected]="subtitle === selectedSubtitle"
    (click)="onClick(subtitle)">
    [{{subtitle.sttlNum}}] {{subtitle.sttlDesc}}
  </li>
</div> 
  
