<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Pushup</h1>
            <form>
                <div class="form-content">
                    <div class="form-group">
                         <input type="email" name="usrEmail" [(ngModel)]="usr.usrEmail" class="form-control input-underline input-lg" placeholder="Email">
                    </div>
                   <div class="form-group">
                        <input type="password" name="usrPw" [(ngModel)]="usr.usrPw" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="usrPw2" [(ngModel)]="usr.usrPw2" class="form-control input-underline input-lg" placeholder="Repeat Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/login']" (click)="onRegister()" > Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div> 