<div class="container">
			<form>
				<div class="form-group">
			    <label for="inputAddress">외국어 자막과 모국어 자막을 합성하여 출력합니다</label>
			  </div>
				<div class="form-row">
			    <div class="col-md-6">
						<label for="inputAddress">Foreign Language</label>
					</div>
					<div class="custom-file">
					  <input type="file" class="custom-file-input" name="foreignFile" (change)="onForeignFileSelected($event)">
						<label class="custom-file-label" for="customFile">{{foreignFileNm}}</label>
					</div>
			  </div>
				<div class="form-row">
			    <div class="col-md-6">
						<label for="inputAddress">Mother Language</label>
			    </div>
					<div class="custom-file">
					  <input type="file" class="custom-file-input"  name="motherFile" (change)="onMotherFileSelected($event)">
					  <label class="custom-file-label" for="customFile">{{motherFileNm}}</label>
					</div>
			  </div>
				<div class="form-row">
			    <button type="button" class="btn btn-success" (click)="onUpload()">Upload</button>
			  </div>
				<div class="form-row">
			    <button type="button" class="btn btn-success" (click)="onTest()">test1</button>
			  </div>
				<div class="form-row">
			    <button type="button" class="btn btn-success" (click)="onTest2()">test2</button>
			  </div>
				<div class="form-row">
			    <button type="button" class="btn btn-success" (click)="onTest3()">test3</button>
			  </div>
				<div class="form-row">
			    <button type="button" class="btn btn-success" (click)="onTest4()">test4</button>
			  </div>
			</form>
    </div>