<div class="header mb-5">
  <h1>Subtitle Study</h1><br>
  <h4>Foreign Language Movie Subtitles are the material for studying</h4>
  <button type="button" class="btn btn-sm mt-3" [routerLink]="['/subtitle-view']" >Getting Started</button>
</div>

<div class="mb-4">
  <div class="ml-2 mb-4">
    <h2>Anywhere Anytime</h2>
    <!--
         출퇴근시 버스와 지하철에서, 사무실에서도 쉬는 시간에, 쇼파나 침대에서도, 기달리는 모든 시간에
    -->
    <h5>Commuting by Bus and Subway. Break time. laying on Sofa or Bed. While waiting time.</h5>
  </div>
  <div class="row" >
      <div class="col-xl-4 fakeimg mb-2" >
        <img src="assets/images/commute.png" width="160px" class="user-avatar ml-1 mr-3" />Bus and Subway
      </div>
      <div class="col-xl-4 fakeimg mb-2" >
        <img src="assets/images/breaktime.png" width="160px" class="user-avatar ml-1 mr-3" />
        <span>Break time</span>
      </div>
      <div class="col-xl-4 fakeimg mb-2" >
        <img src="assets/images/wait-line.jpg" width="160px" class="user-avatar ml-1 mr-3" />While waiting time.
      </div>
  </div>
</div>

<div class="mb-4">
  <div class="ml-2 mb-4">
    <h2>Your new favorite moives</h2>
    <!--
          최신 당신이 좋아하는 장르의 영화나 드라마 자막으로 학습세요.
    -->
    <h5>Learning English is not study but a part of entertainment activities.</h5>
  </div>
  <div class="row" >
      <div class="col-xl-4 col-lg-8 fakeimg mb-2" style="height:200px;background-repeat: no-repeat;background-size:contain">
        <img src="assets/images/avengers.png" width="160px" class="user-avatar ml-1 mr-3" />Netfix dramas,movies
      </div>
  </div>
</div>

<div class="mb-4">
  <div class="ml-2 mb-4">
    <h2>From bookmarked location</h2>
    <!--
         체크박스를 클릭하기만 하면 북마크 됩니다. 웹브라우져를 오픈하면 북마크된 위치에서 학습할수 있습니다.
    -->
    <h5>You can bookmark only clicking checkbox. Whenever start this app at your browser, it appear a place bookmarked.</h5>
  </div>
  <div class="row" >
      <div class="col-xl-4 col-lg-8 fakeimg mb-2" style="height:200px;background-repeat: no-repeat;background-size:contain">
        <img src="assets/images/bookmark.png" width="160px" class="user-avatar ml-1 mr-3" />Only click checkbox.
      </div>
  </div>
</div>

<div class="mb-4">
  <div class="ml-2 mb-4">
		<h2>Save reviewing subtitles</h2>
		<!--
		     학습에 있어서 복습은 필수요소입니다. 드라마나 영화 자막으로 학습중에 복습하고자 하는 문장을 저장하고 위해서 할것은 단지 체크박스를 클릭하기만 됩니다.
		-->
		<h5>Review is essential for all study. You can have your review matirial. Only click checkbox in line.</h5>
  </div>
  <div class="row" >
      <div class="col-xl-4 col-lg-8 fakeimg mb-2" style="height:200px;background-repeat: no-repeat;background-size:contain">
        <img src="assets/images/review.jpg" width="160px" class="user-avatar ml-1 mr-3" />your review-collections
      </div>
  </div>
</div>

<div class="mb-4">
  <div class="ml-2 mb-4">
    <h2>Screen Shot</h2>
    <h5>Main view studying through subtitles</h5>
  </div>
  <img src="assets/images/view.png" width="400px" class="user-avatar ml-1 mr-3" style="border-style:solid;"/>
  <br><br>
  <h5 class="ml-2">Regist your subtitles</h5>
  <img src="assets/images/regist.png" width="400px" class="user-avatar ml-1 mr-3" style="border-style:solid;"/>
  <br><br>
  <h5 class="ml-2">Review here with your collections</h5>
  <img src="assets/images/review.png" width="400px" class="user-avatar ml-1 mr-3" style="border-style:solid;"/>
</div>



