<div class="navbar">
  <a href="index.jsp" class="active">Purpose</a>
  <a href="system.jsp"  >Understanding the System</a>
  <a href="samples.jsp">Samples</a>

  <a href="javascript:alert('open after released');">API</a>
  <a href="javascript:alert('open after released');">Component Finder</a>
  <a href="javascript:alert('open after released');">Editor</a>
</div>
<div class="header">
  <h1>Subtitle Study</h1><br>
  <h4>Foreign Language Subtitle is best matirial for studying</h4>
  <h2 style="color:yellow" id="dday"></h2>
</div>

<div class="row">
  <div class="main">
    <h2>Anywhere Anytime</h2>
    <h5></h5>
    <div class="fakeimg" style="height:200px;background-repeat: no-repeat;background-size:contain">
      <p> </p>
      <p> </p>
    </div>
    <!--
    -->

    <br>
    <h2>Your newly faverite moives</h2>
    <!--
    -->
    <h5>Many developers find it difficult to create web diagrams. Can not we make this easily? Especially HMI, Start Factory.</h5>
    <div class="fakeimg" style="height:200px;"><i class="fas fa-10x fa-users" ></i></div>
    <!--
    -->
    <p>The goal is to make a diagram editor so that anyone can easily create a Smart Factory Visualization.</p>

    <br>
    <h2>From bookmarked location </h2>
    <!--
    -->
    <h5>Make diagram by coding? Arn't you difficult?</h5>
    <div class="fakeimg" style="height:200px;"><i class="fas fa-10x fa-edit"></i></div>
    <!--
    -->
    <p>Your can make features in Editor (similar to Powerpoint eidtor). include position, rotate, skew, fill, stroke, path move, ajax params etc.</p>

    <br>
    <h2>Save reviewing subtitles</h2>
    <!--
    -->
    <h5>If the Diagram is modified, it will be difficult to do the deployment again. Would it be easy to be reflected right away?</h5>
    <div class="fakeimg" style="height:200px;"><i class="fas fa-10x fa-fighter-jet"></i></div>
    <!--
    -->
    <p>It can be used anywhere on the web browser and loaded with simple code. It is located on the same web service that is provided and is ready to use without any deployment work.</p>

 </div>

<div class="footer">
<h3 style="color:white"><img src="" height="20"> Start Easy</h3>
<h4 style="color:white">Gyung-gi Paju Korea.</h4>
</div>
