
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  padding: 20px;
}

